body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 2rem;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h3 {
  margin-top: 6px;
  text-align: center;
}
/* Form styles */
form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.form2 input[type="text"] {
  border-radius: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form2 button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form2 button:hover {
  background-color: #0056b3;
}
/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th,
table td {
  padding: 8px;
  border: 1px solid #ddd;
}
table th {
  background-color: #f2f2f2;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #f9f9f9;
}
/* Button styles */
.delete {
  background: orangered;
}

.delete:hover {
  background: red;
}

table button {
  padding: 6px 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
table button:hover {
  background-color: #218838;
}
